<div class='header'>
  <%= ctx.render_css('partials/header.css') %>
  <ul>
    <li><a href='#!'>#!</a></li>
    <li><a href='#!a.ejs'>#!a.ejs</a></li>
    <li><a href='#!a.ejs?a=b'>#!a.ejs?a=b</a></li>
    <li><a href='#!a.ejs?a=b&c=1'>#!a.ejs?a=b&c=1</a></li>
    <li><a href='#!a.ejs?a=b&c=1&c=7'>#!a.ejs?a=b&c=1&c=7</a></li>
    <li><a href='#!b.ejs?a=b'>#!b.ejs?a=b</a></li>
  </ul>
</div>
