<div class='header'>
  <%= ctx.render_css('partials/header.css') %>
  <ul>
    <li><a href='?'>index</a></li>
    <li><a href='?page=a.ejs'>?page=a.ejs</a></li>
    <li><a href='?page=a.ejs&a=b'>?page=a.ejs&a=b</a></li>
    <li><a href='?page=a.ejs&a=b&c=1&c=7'>?page=a.ejs&a=b&c=1&c=7</a></li>
    <li><a href='?page=b.ejs&a=b'>?page=b.ejs&a=b</a></li>
  </ul>
</div>
